extends layout

block content
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
  include item
  div(class="character", ng-app="character", ng-controller="characterController")
    div(class="characterPreview")
      img(src="/characterIcon/{{ object.thumbnail }}",style="vertical-align:middle;")
      div(class="characterContainer")
        h2(style="display:inline;") #{name}'s gear:
        br
        span {{items.averageItemLevelEquipped}}/{{items.averageItemLevel}}
    br
    ul(class="itemList")
      span(ng-repeat="item in items", ng-if="$index > 1")
        +preview("{{item.icon}}", "{{item.name}}", "{{item.itemLevel}}")
  script.
    var app = angular.module("character", [])

    app.controller("characterController", function ($scope, $http, $window) {
      $http.get("https://us.api.battle.net".concat("/wow/character/").concat('#{realm}').concat("/").concat('#{name}').concat("?fields=items&locale=en_US&apikey=55v24wzgcyt295756q853cmc4hkd9xf2")).then(function(response) {
        $scope.object = response.data;
        $scope.items = $scope.object.items;
      }, function(response) {
        $window.location.href = "/error/" + response.status + "/" + "#{name}";
      });
    });