extends layout

block content
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
  include item
  div(class="characters", ng-app="characters", ng-controller="charactersController")
    h1 {{battletag}}'s Characters:
    br
    ul(class="charList")
      span(ng-repeat="character in characters")
        a(href="/character/{{character.realm}}/{{character.name}}") {{character.name}}
        br
  script.
    var app = angular.module("characters", [])

    app.controller("charactersController", function ($scope, $http, $window) {
      $http.get('/account/user').then(function(response) {
        $scope.battletag = response.data.battletag;
      })
      $http.get('/wow/user/characters').then(function(response) {
        $scope.characters = response.data.characters;
      }, function(response) {
        $window.location.href = "/error/" + response.status + "/" + "#{name}";
      });
    });