body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.itemList {
  list-style-type: none;
  display: inline-block;
  width: 800px;
}

.item {
  display: inline-block;
  width: 300px;
  padding-bottom: 10px;
  padding-right:100px;
}

.itemName {
  display: inline-block;
  font-weight: bolder;
  width: 200px;
}

.itemContainer {
  display: inline-block;
  vertical-align: middle;
}

.characterPanel {
  padding-left: 100px;
}

.characterPreview {
  padding-left: 250px;
}

.characterContainer {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}

.itemLevel {

}